# Build e publicação
bin/
obj/
*.dll
*.exe
*.pdb
*.log

# Banco local e configs sensíveis
*.db
.env
appsettings.json
appsettings.Development.json

# IDEs e editores
.vscode/
.idea/
*.user
*.suo

# Sistema operacional
.DS_Store
Thumbs.db